body {
  background-color: rgb(107, 243, 243);
}

.container{
  display: flex;
  align-content: center;
  justify-content: center;
}

.main{
  display: flex;
  padding: 40px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  height:80vh;
  flex-direction: column;
  background-color:forestgreen;
  position: relative;
  width: 30vw;
  
}

.image{
  padding: 10px;
  border-radius: 50%;
  
}

.greeting{
  align-self: center;
  margin-left: 30%;
  justify-content: center;
}


@media screen and (max-width: 600px){ 


  .image {
    width: 25vw;
    height: 20vh;
  }

  .main {
    width: 70vw;
    padding: 10px;
    margin: 10px;
  }


  .greeting{
    margin-left: 10%;
  }


}



